* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  background: var(--bg-main);
  color: var(--text-main);
}

main {
  width: auto;
}

footer {
  margin-top: auto;
  flex-shrink: 0;
}

.zoom-img.next-btn {
  width: 45px;
}

.image-viewer img .zoom-img.next-btn {
  border: none;
  box-shadow: none;
}

.zoom-img.next-btn {
  width: 45px;
}

.image-viewer img .zoom-img.next-btn {
  border: none;
  box-shadow: none;
}

body.modal-open {
  overflow: hidden;
  touch-action: none;
}
