.item-modal-box {
  width: min(900px, 100%);
  height: min(640px, calc(100vh - 48px));

  display: grid;
  grid-template-columns: .9fr 1fr;
}

.item-modal-image-side {
  padding: 28px;
  background: var(--bg-gallery);

  display: flex;
  align-items: center;
  justify-content: center;
}

.item-modal-image-side .modal-main-img {
  width: 100%;
  height: 100%;
}

.item-modal-image-side .modal-main-img img {
  object-fit: contain;
}

.item-modal-info {
  padding: 54px 46px;

  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 22px;

  position: relative;
}

.item-modal-info h2 {
  font-size: 34px;
  color: var(--text-main);
  padding-right: 42px;
}

.item-modal-description {
  color: var(--text-soft);
  line-height: 1.7;
  font-size: 16px;
}

.item-modal-bottom .price {
  margin-bottom: 14px;
}